@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
:root{
    --header: #1F2937;
    --primary-text-color: #f9faf8;
    --sec-text-color: #e5e7eb;
    --btn-color: #3882F6; /*Also call to action (sec 4) background color */
    --quote-bkg: #e5e7eb; /*Section 3 background color */
    --third-text-color: #1f2937;
}

*{
    box-sizing: border-box;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

body{
    display: block;

}


/* Common props */


h3{
    font-size: 20px;
}

a{
    text-decoration: none;
}


/* Header */

.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    

    background-color: var(--header);
    height: 65px;
    padding:10px 50px;


}



.links{
    display: flex;
    gap: 25px;
}

.link {
    text-decoration: none;
    color: var(--sec-text-color);
    font-size: 18px;

}

.logo{
    color:var(--primary-text-color);
    font-size: 24px;
    

}

/* Section 1 */

.section-1{
    display: flex;
    background-image: url(/images/image-3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 10px;
    min-height: 800px;




    
}

.content{
 
    width: 35%;
    
    
    
}
.text-title{
    font-size: 48px;
    color:var(--primary-text-color);
    font-weight: 980;
    margin-bottom: 20px;

}

.content-text{
    font-size: 18px;
    color: var(--sec-text-color);
    margin: 10px 0;
    margin-bottom: 35px;

}

.content .btn{
    background-color: var(--btn-color);
    color: white;
    padding: 10px 35px;
    border-radius: 10px;
}


.image-container{
    /* Add a image here from unsplash */
    
    width: 45%;
    height: 100%;
    padding:30px;
   

}

.image-container img{
    width:100%;
    height: auto;
    border-radius: 75px;
}

/* Section 2 */

.section-2{
    height: 430px;

}

.section-2 h2 {
    text-align: center;
    margin: 50px;
    
}

.info-boxes{

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
    overflow-x: auto;
}

.info-box{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-box img{
   
    height: 100%;
    width: 100%;

    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;


}


.img-box{
    /* Add an image or something here */
   
    margin-bottom: 5px ;
    width: 240px;
    height: 240px;
    padding: 0;

}



.info-box p {
    margin-top: 15px;
    width: 200px;
    flex-wrap: wrap;
    
}

/* Section 3 */

.section-3{
    height: 385px;
    width: 100%;
    background-color: var(--quote-bkg) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding : 75px;
}

.testimonial{

    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color:var(--third-text-color);
    text-align: center;
    margin: 40px 25px;

}

.testimonial-byname{

    font-size: 20px;
    align-self: flex-end;
}

/* Section 4 */
.section-4{
    padding: 50px;
    display: flex;
    justify-content: center;
}

.banner {
    display: flex;
    height: 150px;
    width: 80%;
    gap: 50px;
    padding: 20px;
    align-items:center;
    justify-content: center;
    background-color: var(--btn-color);


}

.text-content{
    color: var(--sec-text-color);
}

.text-content p {
    color: var(--third-text-color);
    margin: 15px 0;
}



.button-box .btn{
    text-decoration: none; 
    color: var(--primary-text-color); 
    border: 1px solid var(--primary-text-color);
    padding: 15px 35px;
    border-radius: 18px;
}

/* Footer */

.footer{
    height: 70px;
    width:100%;
    text-align: center;
    background-color: var(--header);
    color: var(--primary-text-color);
    padding: 40px 0;
  

}

